[Unit]
Description=Apache Tomcat Web Application Container
After=network.target

[Service]
Type=forking

Environment=JAVA_HOME={{ java_home_path }}
Environment=CATALINA_PID={{ tomcat_home_dir }}/{{ tomcat_name }}/temp/tomcat.pid
Environment=CATALINA_HOME={{ tomcat_home_dir }}/{{ tomcat_name }}
Environment=CATALINA_BASE={{ tomcat_home_dir }}/{{ tomcat_name }}
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart={{ tomcat_home_dir }}/{{ tomcat_name }}/bin/startup.sh
ExecStop={{ tomcat_home_dir }}/{{ tomcat_name }}/bin/shutdown.sh

User={{ user_name }}
Group={{ group_name }}
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
